@canvas-border: solid 3px @black-color;
@black-color: #000000;
@grey-color: #ECECEC;
@menu-color:  #99CCFF;

body {
        font-family: Consolas, Helvetica, Arial, sans-serif;
        margin: 0;
}
h1 {
        font-weight: bold; 	
	margin-bottom: 2px;
	text-align: center;
	font-size: 32px;
}
#stage {
       	display: block;
        border: @canvas-border;
	margin-left: auto;
	margin-right: auto;
}
#scoreBoard {
        text-align: center;
        padding-bottom: 10px;
}
#bestScore {
        margin-left: 45px;
}
#menu { 
        background-color: @black-color;
        text-align: center;
        color: @menu-color;
        border:solid 1px @black-color;     
}
#container {
       background-color: @grey-color;
       padding:25px;
       margin-left: auto;
       margin-right: auto;
       width: 900px;
}