<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <div id="menu">
        <h1>Snake Multiplayer Game</h1>
        <div id="scoreBoard">
            <span id="score">Your score: 0</span>
           <span id="bestScore">Best score: 0</span>
           <span id="position"> X: 0   Y:0</span>
        </div>
    </div>
    <canvas id="stage"></canvas>
  </body>
</html>
